.intro {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/intro.png');
    background-size: 100vw 100vh;
}

.intro .loginWrapper {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.intro .loginWrapper button {
    border: 1px solid purple;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    margin: 12px;
}

.intro .loginWrapper button:hover {
    border: 1px solid white;
    background-color: purple;
    color: white;
}